/* CSS code for memory card game - Tp-8-js */

* {
  box-sizing: border-box;
  background-color: #D1CFC0;
}
#title h1{
  font-family: 'Verdana';
  color: black;
  font-size: 60px;
  padding: 60;
  position: relative;
  text-align: center;
 
}
#mainTable {
  width: 80vw;
  height: 80vh;
  position: relative;
  margin: 10vh auto;
}

.card {
  position: relative;
  width: 20vw;
  height: 20vw;
  float: left;
  border: 1vw solid #D1CFC0;
}

.card div {
  position: absolute;
  width: 100%;
  height: 100%;
}

.card.clicked {
  border: 1vw solid #333;
}

.cardBack {
   background-image: url(images/card.png);
    
}

.cardFront {
  background-color: #333;
  display: none;
}

.clicked .cardBack {
display: none;
}

.clicked .cardFront {
display: block;
}

.card.removed {
  box-shadow: none;
  border: none;
  background-color: #D1CFC0;
  color: #D1CFC0;
}
.card.removed div {
  display: none;
}
/* all the images */
.pic1 .cardFront {
  background-image: url(images/one.png);
  background-size: cover;
}

.pic2 .cardFront {
  background-image: url(images/two.png);
  background-size: cover;
}

.pic3 .cardFront {
  background-image: url(images/three.png);
  background-size: cover;
}

.pic4 .cardFront {
  background-image: url(images/four.png);
  background-size: cover;
}

.pic5 .cardFront {
  background-image: url(images/five.png);
  background-size: cover;
}

.pic6 .cardFront {
  background-image: url(images/six.png);
  background-size: cover;
}

.pic7 .cardFront {
  background-image: url(images/seven.png);
  background-size: cover;
}

.pic8 .cardFront {
  background-image: url(images/eight.png);
  background-size: cover;
}

.pic9 .cardFront {
  background-image: url(images/nine.png);
  background-size: cover;
}

.pic10 .cardFront {
  background-image: url(images/ten.png);
  background-size: cover;
}

}
